.admin-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 100px 0px;
}
.admin-btns{
    display: flex;
    gap: 5rem;
}
.admin-btns button{
    background-color: #02431bff;
    color: white;
    padding: 15px 0px;
    width: 110px;
    border: 1px solid #02431bff;
    border-radius: 30px;
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
}
.admin-btns button:hover{

    transition: 0.2s;
}
.admin-box{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 750px;
    height: 400px;
    background-color: rgba(239, 235, 235, 0.475);
    border-radius: 10px;
    border: 1px solid rgba(38, 38, 38, 0.171);
    box-shadow: 0px 0px 3px  rgba(239, 235, 235, 0.753);
}
.admin-headings{
    display: flex;
    gap: 120px;
    font-size: 20px;
    font-weight: 500;
    border-bottom: 1px solid rgba(0, 0, 0, 0.212);
    padding: 20px 70px;
}
.admin-details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 90px;
    background-color: white;
    padding: 9px 20px;
    border-radius: 18px;
    border: 1px solid rgba(0, 0, 0, 0.26);
    font-weight: 500;
    text-align: left;
}

.admin-details-container{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    gap: 10px;
    max-height: 300px;
    overflow-y: auto;
}
.admin-details button{
    background-color: #02431bff;
    color: white;
    padding: 8px 20px;
    border: 1px solid #02431bff;
    border-radius: 40px;
    cursor: pointer;
}
.selected-button {
    background-color: white !important;
    border: 1px solid #02431bff ;
    color: #02431bff !important;
  }
.update-dropdown{
    display: flex;
    gap: 10px;
    margin-top: 20px;
}
.update-dropdown span{
    display: flex;
    gap: 20px;
}
  .update-dropdown select {
    background-color: rgba(205, 205, 205, 0.326);
    width: 8rem;
    height: 2rem;
    border: none;
    border-radius: 10px;
    font-size: 15px;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.146);
  }
  
  /* Style the option elements */
  .update-dropdown option {
    font-size: 15px;
  }

  /* Style the dropdown arrow */
  .update-dropdown select::-ms-expand,
  .update-dropdown select::-ms-value {
    display: none;
  } 
.request-right-detail-p{
    padding-left: 5px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}


 @media screen and (max-width:414px) {
    .admin-btns{
        gap: 30px;
    }
    .admin-btns button{
        font-size: 15px;
        width: 90px;
    }
    .admin-box{
        width: 400px;
    }
    .admin-headings{
        padding: 5px 49px;
        font-size: 15px;
        gap: 40px;
    }
    .admin-details-container{
        width: 400px;
    }
    .admin-details{
        font-size: 13px;
        gap: 26px;
    }
    .admin-details button{
        padding: 5px 10px;
        font-size: 11px;
    }
 } 