.right-request{
    height: 40rem;
    width: 60rem;
    border: 1px solid rgba(43, 40, 40, 0.507);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.372);
}
.right-request h1{
    padding-top: 60px;
    padding-left: 60px;
    padding-bottom: 20px;
    font-weight: 700;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-bottom: 1px solid rgba(0, 0, 0, 0.584);
}
.request-section{
    padding: 30px;
}
.request-data{
    display: flex;
    flex-direction: column;
    height: fit-content;
    border: 50px solid #ecececff;
    border-radius: 20px;
}
.data-heads{
    display: flex;
    gap: 4.5rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.311);
    padding: 5px 40px;
}
.data-heads h3{
    display: flex;
    align-items: center;
    border-right: 1px solid rgba(0, 0, 0, 0.315);
    padding: 0px 15px;
}
.data-heads>:nth-child(5){
    border-right: none;
}
.request-content{
    display: flex;
    padding: 10px 20px;
    gap: 3rem;
    justify-content: space-between;
    font-size: 16px;
    font-weight: 540;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: 1px solid rgba(0, 0, 0, 0.317);
    border-radius: 10px;
    cursor: pointer;
}
.request-content p{
    justify-content: center;
    align-items: center;
}
.request-content>:nth-child(5){
    border-right: none;
}
.request-content-section{
    padding: 6px 0px;
}
.scroll {
    max-height: 300px; /* Set the desired maximum height for the scrollable area */
    overflow: auto;  
}
.bold{
    font-weight: bold;
}
@media screen and (max-width:786px) {
    .right-request h1{
        font-size: 25px;
    }
    .right-request{
        max-width: 41rem;
        height: fit-content;
    }
    .data-heads{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 11px;
        gap: 2.3rem;
    }
    .request-content{
        gap: 0rem;
    }
    .request-content p{
        font-size: 9px;
        border-right: none;
    }
}
.request-wrap {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    border: 1px solid black;
  }
  
  .request-detail-container {
    display: flex;
    background-color: white;
    border: none;
    border-radius: 8px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 80%;
    max-width: 700px;
    height: fit-content;
    animation: fadeInUp 0.5s ease;
  }
  
  .request-left-detail {
    display: flex;
    flex-direction: column;
    gap: 6px;
    flex: 1;
    font-size: 15px;
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-right: 1px solid rgba(0, 0, 0, 0.221);
    padding-right: 15px;
  }
  .request-left-detail>:nth-child(1){
    font-weight: 600;
    font-size: 20px;
  }
  .request-left-detail>:nth-child(5){
    font-weight: 600;
    font-size: 20px;
  }
  .request-right-detail {
    flex: 1;
    padding-left: 15px;
    font-size: 20px;
    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  .describe-offer {
  }
  .describe-offer textarea{
    padding: 10px;
    font-size: 15px;
    border: none;
    background-color: #d9d9d9ff;
    color: black;
    outline: none;
    resize: none;
  }
  .btn-send-offer{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;

  }
  
  .send-btn{
    padding: 12px 30px;
    border: 1px solid #02431bff;
    background-color: #02431bff;
    color: white;
    cursor: pointer;
    border-radius: 20px;
  }
  .send-btn:hover{
    background-color: rgb(3, 61, 25);
    transition: 0.1s ease;
  }
  .cancel-btn {
    padding: 10px 25px;
    border: 1px solid #02431bff;
    background-color: rgb(255, 255, 255);
    color: #02431bff;
    cursor: pointer;
    border-radius: 20px;
    font-weight: 600;
  }
  .cancel-btn:hover{
    background-color: rgba(217, 217, 217, 0.306);
    transition: 0.2s ease;
  }
  @keyframes fadeInUp {
    from {
      transform: translateY(20px);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
  
@media screen and (max-width:414px) {
    .right-request{
        width: 24rem;
        height: fit-content;
    }
    .data-heads{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 10px;
        gap: 0.4rem;
    }

    .request-data{
        border: 20px solid #ecececff;
    }
    .request-section{
        overflow-x: auto;
        overflow-y: auto;
        padding: 7px;
    }
    .request-content{
        padding: 0px;
        justify-content: center;
        font-size: 6px;
        gap: 1.5rem;
    }
    .request-detail-container{
        display: flex;
        flex-direction: column;
    }
    .request-left-detail{
        border-right: none;
        padding-right: 0px;
        border-bottom:1px solid rgba(0, 0, 0, 0.336);
        padding-bottom: 5px;
    }
    .request-right-detail{
        padding-left: 0px;
    }
}